html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/* nav styles */
.nav-menu {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Kohinoor Telugu";
  list-style-type: none;
  background-color: #262626;
  margin-top: 0;
  padding: 15px 30px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-menu li {
  float: left;
  padding-right: 15px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #53c3eb;
}

/* about styles */
#about {
  margin-top: 7em;
}

.header {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header h1 {
  font-size: 3em;
  letter-spacing: 0.39px;
  font-weight: 600;
}

.header h2 {
  font-size: 1.5em;
  margin-top: -2%;
  font-weight: 300;
  letter-spacing: 0.21px;
}

.bio {
  display: grid;
  padding: 30px 25px;
  width: 65em;
  margin: 3em auto 3em auto;
  grid-template-columns: 0.4fr 0.6fr;
}

.bio img {
  width: 100%;
}

.p-container {
  margin-left: 12%;
  margin-top: -3.2%;
}

.p-container p {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.21px;
  line-height: 1.3;
}

.p-container button {
  margin-top: 1.7em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 3rem;
  background-color: #262626;
  color: #53c3eb;
  letter-spacing: 0.03rem;
  border-radius: 0.3em;
}

.p-container button:hover {
  cursor: pointer;
  color: white;
}

/* work styles */
#work {
  background-color: #eeeeee;
  padding-bottom: 3%;
}

#work h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 2.9em;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.4px;
  padding-top: 5%;
}

.project-container {
  display: flex;
  margin: 3%;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 5%;
  height: 50%;
  /* border-radius: 0.3em; */
}

.project:hover {
  box-shadow: 0 0 20px #53c3eb;
  cursor: pointer;
}

.project img {
  width: 100%;
  border-radius: 0.2em;
}

.project-1,
.project-3 {
  margin-right: 5%;
}

.project-4 {
  background-color: lightgray;
  padding-top: 31%;
}

.project-title {
  background-color: #262626;
  padding: 1.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-top: -3%;
  padding-left: 3%;
}

.project-title-2 {
  margin-top: -4.5%;
}

.project-title span {
  float: right;
  color: #53c3eb;
  padding-right: 1%;
}

/* contact styles */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#contact h1 {
  font-weight: 600;
  font-size: 2.9em;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.4px;
}

#contact h2 {
  font-size: 1.5rem;
  margin-top: -2%;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 2%;
}

/* contact form styles */
#contact form {
  background-color: #262626;
  width: 50em;
  display: flex;
  flex-direction: column;
  height: 30em;
  margin: auto;
  padding: 2rem 2rem 5rem;
  border-radius: 0.3rem;
}

#contact label {
  padding: 1rem 0 0.5rem;
}

#name,
#email {
  padding: 2%;
  margin: 0 auto;
  width: 95%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#message {
  min-height: 15rem;
  padding: 2%;
  margin: 0 auto;
  width: 95%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#contact ::placeholder {
  color: #6d7278;
  font-size: 1.7em;
  font-weight: 400;
  overflow: visible;
}

#submit {
  width: 25%;
  background-color: #53c3eb;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 2% 2.5%;
  margin: 4% auto;
  border-radius: 0.3em;
  border: 1px solid #53c3eb;
  -webkit-appearance: none;
}

#submit:hover {
  cursor: pointer;
  background-color: white;
}

/* success-modal styles */
.success-modal {
  margin: 0 auto;
  margin-top: -60%;
  display: none;
}

.success-modal img {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* footer styles */
.footer {
  background-color: #262626;
  position: relative;
  padding-bottom: 2%;
}

.up-icon {
  background-color: #53c3eb;
  width: 3%;
  margin: auto;
  padding: 1%;
  right: 4%;
  left: 3%;
  top: -8%;
  cursor: pointer;
  position: absolute;
  border-radius: 0.2em;
}

.up-icon img {
  width: 100%;
  filter: invert(1);
}

.social-icons {
  text-align: center;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
}

.social-icons img {
  margin-top: 5%;
  margin-left: 2.5%;
  filter: invert(1);
}

.social-icons img:hover {
  cursor: pointer;
  filter: invert(77%) sepia(76%) saturate(2633%) hue-rotate(167deg)
    brightness(103%) contrast(84%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -120px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.mail {
  padding: 5%;
}

/* .mail:hover {
  cursor: pointer;
  filter: invert(77%) sepia(76%) saturate(2633%) hue-rotate(167deg)
    brightness(103%) contrast(84%);
} */

.linkedin,
.github {
  padding: 0.5%;
  /* position: relative; */
}

.copyright img {
  width: 1.5%;
  filter: invert(77%) sepia(76%) saturate(2633%) hue-rotate(167deg)
    brightness(103%) contrast(84%);
  padding-right: 0.5%;
}

.credits {
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eeeeee;
}

.p-1 {
  font-size: 1.5em;
  font-weight: 500;
}

.p-2 {
  font-size: 1.3em;
  line-height: 0.4em;
}

.p-2 a {
  color: #eeeeee;
  text-decoration: none;
}

.p-2 a:hover {
  cursor: pointer;
  color: #53c3eb;
}

/* media queries */

@media only screen and (max-width: 1100px) {
  .bio {
    font-size: smaller;
  }
  .p-container button {
    font-size: 0.8em;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  /* ipad iteration 06/23/2020 @ 12:20 PM */
  h1 {
    font-size: xx-large !important;
  }
  h2 {
    font-size: large !important;
  }
  .project-title span {
    font-size: smaller;
    margin-top: 3px;
  }
  /**/
  .bio {
    font-size: x-small;
  }
  /* ipad iteration 06/23/2020 @ 12:20 PM */
  #contact form {
    width: 35em;
    padding: 1rem 2rem 2rem;
  }
  #contact ::placeholder {
    font-size: small;
  }
  #submit {
    font-size: small;
    padding: 3% 2.5%;
    margin-top: 5vw;
  }
  .social-icons img {
    width: 4vw;
  }
  .footer {
    font-size: small;
  }
}

/* elements start stacking */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: x-large !important;
  }
  h2 {
    font-size: medium !important;
  }
  #contact h2 {
    font-weight: 300;
  }

  .bio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .bio img {
    width: 50vw;
    margin-bottom: 5%;
    align-self: center;
  }
  .p-container {
    font-size: small;
    align-self: center;
    margin: 0;
  }
  .project-container {
    flex-direction: column;
    align-content: center;
  }
  .project {
    width: 70vw;
  }
  .project-1,
  .project-3 {
    margin-right: 0;
  }
  .up-icon {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #contact form {
    width: 30em;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 660px) {
  /* .header h1 {
    font-size: medium !important;
  }
  .header h2 {
    font-size: smaller !important;
  } */
  .bio {
    width: 80vw;
  }
  .project-container {
    width: 100vw;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  #contact form {
    width: 70vw;
  }
  #contact ::placeholder {
    padding: 2.5%;
    font-weight: 300;
  }
  #submit {
    width: 35vw;
    margin-top: 8vw;
    font-size: 2.5vw;
  }
  .social-icons img {
    width: 6vw;
  }
  .social-icons p1,
  .social-icons p2 {
    font-size: smaller;
  }
}
